@import './_color.sass'

.new-article
  margin: 0 auto
  form.createArticle
    padding-top: 30px
    width: 60%
    margin: 0 auto
    color: $deepGray
    .form-control
      outline: none
      box-shadow: none
      border-color: $gray
      resize: none
    .user-info
      display: flex
      align-items: center
      margin-bottom: 20px
      .fa-user-circle
        font-size: 28px
      .name
        padding-left: 10px
      #newPost2
        background-color: $green
        color: #fff
        outline: none
        box-shadow: none
        margin-left: auto
        margin-right: 0
        &:hover
          background-color: $deepGreen
        .fa-pen
          padding-right: 10px
  form.addImg
    width: 60%
    margin: 25px auto 0 auto
    .uploadImg
      background-color: $deepGreen
      color: #fff
      padding: 5px 10px
      cursor: pointer
      border-radius: 5px
      input[type='file']
        display: none
    button
      margin-left: 10px
      border: 1px solid $deepGreen
