.sidebar
  ul.list-group.all-list
    li
      a.list-group-item.list-group-item-action(href='/index') 全部
    li
      a.list-group-item.list-group-item-action(href='/index')
        | 分類文章 
        i.fas.fa-arrow-down.ml-2
  .inner-list
    ul.list-group.category-list
      li
        a.list-group-item.list-group-item-action(href='/index?category=程式學習') 程式學習
      li
        a.list-group-item.list-group-item-action(href='/index?category=語言學習') 語言學習
      li
        a.list-group-item.list-group-item-action(href='/index?category=心情') 心情
      li
        a.list-group-item.list-group-item-action(href='/index?category=健身') 健身
      li
        a.list-group-item.list-group-item-action(href='/index?category=理財') 理財
      li
        a.list-group-item.list-group-item-action(href='/index?category=工作') 工作
      li
        a.list-group-item.list-group-item-action(href='/index?category=旅遊') 旅遊
      li
        a.list-group-item.list-group-item-action(href='/index?category=遊戲') 遊戲
      li
        a.list-group-item.list-group-item-action(href='/index?category=美食') 美食